<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <h2>Register</h2>
    <div>
        <form th:object="${user}" th:action="@{/user/new}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <label>Email:</label>
            <input type="text" th:field="*{email}"/>

            <label>Password:</label>
            <input type="text" th:field="*{password}"/>

            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <a href="/user/login">login</a>
    </div>
</div>

</body>
</html>