body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-image: url("https://i.pinimg.com/originals/e4/c0/67/e4c0672cc65cf4b6d214d81c132eb3de.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.parent-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  box-shadow: 25px 30px #413d3d80;
}

.images {
  width: 500px;
  height: 600px;
  background: url("./img/lonely-happy.gif") no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url("./img/paw2paw.png"), url("./img/sad panda.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 15% 33%, 20% 95%;
  width: 500px;
  height: 600px;
}

.container a {
  opacity: 0;
}

.container:hover{
  background-image: url("./img/paw2paw.png"), url("./img/happy panda.jpg");
  background-position: 15% 33%, 97% 97%;
}

.container:hover a{
  opacity: 1;
  font-family: Apple Chancery, sans-serif;
  color: green;
  position: relative;
  left: 60px;
  top: 75px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 25px;
  width: 210px;
  height: 25px;
  font-size: 15px;
  text-align: center;
}

.button {
  border-radius: 30px;
  width: 217px;
  height: 30px;
  background: linear-gradient(rgb(63, 182, 63), rgb(154, 224, 127));
  color: white;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

label {
  font-family: Apple Chancery, cursive;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.headline {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-family: Optima, sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}